<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                            <span class="path1"></span><span class="path2"></span>
                        </i>
                        <input type="text" [(ngModel)]="search" (keyup.enter)="listProducts()" name="search" data-kt-customer-table-filter="search"
                        class="form-control form-control-solid w-100 ps-12" placeholder="Search Products">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <select class="form-select mb-2" [(ngModel)]="product_categorie_id" name="product_categorie_id">
                        <ng-container *ngFor="let CATEGORIE of CATEGORIES">
                            <option [value]="CATEGORIE.id">{{ CATEGORIE.name }}</option>
                        </ng-container>
                    </select>
                    <div class="text-muted fs-7">Categoria</div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <select class="form-select mb-2" [(ngModel)]="disponibilidad" name="disponibilidad">
                        <option value="1">Vender los productos sin stock</option>
                        <option value="2">No vender los productos sin stock</option>
                        <option value="3">Proyectar con los contratos que se tenga</option>
                    </select>
                    <div class="text-muted fs-7">Disponibilidad</div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <select class="form-select mb-2" [(ngModel)]="tax_selected" name="tax_selected" data-control="select2" data-hide-search="true" data-placeholder="Select an option">
                        <option value="1">Tax Free</option>
                        <option value="2">Taxable Goods</option>
                        <option value="3">Downloadable Product</option>
                    </select>
                    <div class="text-muted fs-7">Tipo de impuesto</div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 d-flex justify-content-end">
                    <button class="btn btn-primary btn-sm" (click)="listProducts()">
                        <i class="ki-duotone ki-magnifier fs-2"><span class="path1"></span><span class="path2"></span></i>
                    </button>
                    <button class="btn btn-dark btn-sm ms-2">
                        <i class="ki-duotone ki-loading fs-2"><span class="path1"></span><span class="path2"></span></i>
                    </button>
                </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <select class="form-select mb-2" [(ngModel)]="sucursale_price_multiple" name="sucursale_price_multiple" placeholder="Select an option">
                            <ng-container *ngFor="let SUCURSALE of SUCURSALES">
                                <option [value]="SUCURSALE.id">{{ SUCURSALE.name }}</option>
                                    </ng-container>
                        </select>
                        </div>
                    <div class="text-muted fs-7">Sucursal</div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <select class="form-select mb-2" [(ngModel)]="client_segment_price_multiple" name="client_segment_price_multiple" placeholder="Select an option">
                            <ng-container *ngFor="let CLIENT_SEGMENT of CLIENT_SEGMENTS">
                                <option [value]="CLIENT_SEGMENT.id">{{ CLIENT_SEGMENT.name }}</option>
                                    </ng-container>
                        </select>
                    </div>
                    <div class="text-muted fs-7">Segmento de cliente</div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <select class="form-select mb-2" [(ngModel)]="almacen_warehouse" name="almacen_warehouse" placeholder="Select an option">
                            <ng-container *ngFor="let WAREHOUSE of WAREHOUSES">
                                <option [value]="WAREHOUSE.id">{{ WAREHOUSE.name }}</option>
                                    </ng-container>
                        </select>
                        </div>
                    <div class="text-muted fs-7">Almacen</div>
            </div>
            <!--end::Search-->
        </div>
        <!--end::Card title-->
        <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                <!--begin::Add product-->
                <button type="button" class="btn btn-primary" routerLink="/productos/registro">
                    + Add Product
                </button>
                <!--end::Add product-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable" id="kt_customers_table"
                    style="width: 100%;">
                    <thead>
                        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0" role="row">
                            <th class="min-w-125px" rowspan="1" colspan="1" aria-label="Product Name: Activate to sort" tabindex="0">
                                <span class="dt-column-title" role="button">Producto</span>
                            </th>
                            <th class="min-w-125px" rowspan="1" colspan="1" aria-label="Category: Activate to sort" tabindex="0">
                                <span class="dt-column-title" role="button">Categoria</span>
                            </th>
                            <th class="min-w-125px" rowspan="1" colspan="1" aria-label="Price: Activate to sort" tabindex="0">
                                <span class="dt-column-title" role="button">Precio general</span>
                            </th>
                            <th class="min-w-125px" rowspan="1" colspan="1" aria-label="Availability: Activate to sort" tabindex="0">
                                <span class="dt-column-title" role="button">Disponibilidad</span>
                            </th>
                            <th class="min-w-125px" rowspan="1" colspan="1" aria-label="Tax: Activate to sort" tabindex="0">
                                <span class="dt-column-title" role="button">Tipo de impuesto</span>
                            </th>
                            <th class="min-w-125px" rowspan="1" colspan="1" aria-label="State: Activate to sort" tabindex="0">
                                <span class="dt-column-title" role="button">Estado</span>
                            </th>
                            <th class="text-end min-w-70px dt-orderable-none" rowspan="1" colspan="1" aria-label="Actions">
                                <span class="dt-column-title">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                        <ng-container *ngFor="let PRODUCT of PRODUCTS">
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-50px me-5">
                                            <img [src]="PRODUCT.IMAGE" class="" alt="">
                                        </div>
                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ PRODUCT.title }}</a>
                                            <span class="text-muted fw-semibold text-muted d-block fs-7">Peso {{ PRODUCT.weight }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ PRODUCT.product_categorie.name }}</td>
                                <td>{{ PRODUCT.price_general }}</td>
                                <td>{{ getDisponibilidad(PRODUCT.disponibilidad) }}</td>
                                <td>{{ getTaxSelected(PRODUCT.tax_selected) }}</td>
                                <td>
                                    <span class="badge badge-light-success" *ngIf="PRODUCT.state == 1">Activo</span>
                                    <span class="badge badge-light-danger" *ngIf="PRODUCT.state == 2">Inactivo</span>
                                </td>
                                <td class="text-end">
                                    <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                        <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span class="path2"></span></i> 
                                    </a>
                                    <a href="#" onclick="return false;" (click)="deleteProduct(PRODUCT)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                        <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <ngb-pagination
                [collectionSize]="totalPages"
                [(page)]="currentPage"
                [pageSize]="25"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
            ></ngb-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>